.desc {

    .page-white &.news {
        @include adaptiveClamp(padding-top, 145, 90);
    }

    &__body {
        font-size: rem(12);
        letter-spacing: -0.03em;
        color: #959595;
        text-align: left;
        p {
            

            &:not(:last-child) {
                @include adaptiveClamp(margin-bottom, 12, 17);
            }
        }

        h2, h3 {
            @include adaptiveClamp(font-size, 14, 13);
            font-weight: 500;
            color: var(--t-color);
            margin-bottom: rem(6);
            @include adaptiveClamp(padding-top, 7, 4);
        }
    }

    &__bot {
        display: flex;
        gap: rem(9);
        @include adaptiveClamp(min-height, 270, 203);
        @include adaptiveClamp(margin-top, 35, 18);
        
        &:not(:last-child) {
            @include adaptiveClamp(margin-bottom, 35, 18);
        }

        @media(max-width:575px){ 
            &:not(._grid) {
                margin-left: rem(-10);
                margin-right: rem(-10);
            }
            
        }

        @media(max-width:450px){
            gap: rem(5);
        }


        &._grid {
            display: grid;
            grid-template-columns: 1fr 1fr;


            .desc__img {
                display: block;
                max-width: 100%;

                img {
                    border-radius: rem(5);

                    @media(max-width:450px){
                        border-radius: rem(4);
                    }
                }
            }


            &._three {
                grid-template-columns: 1fr 1fr 1fr;

                @media(max-width:750px){
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        &._one {
            .desc__img {
                max-width: 100%;
            }
        }
    }

    &__img {
        
        
        &._1 {
            max-width: rem(640);
            width: 100%;
        }

        &._2 {
            max-width: rem(340);
            width: 100%;
        }

        @media(max-width:575px){
            
            &._2 {
                display: none;
            }
        }
    }
}